<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<files>
	<file id="55" name = "test" time="2014-09-08" size="28">
		<chunk number = "1" size = "10">dfefe</chunk>
		<chunk number = "2" size = "10">fefe</chunk>
		<chunk number = "3" size = "8">fefef</chunk>		
	</file>
	<file id="999" name = "test1" time="2014-09-08" size="28">
		<chunk number = "1" size = "10">dfefe</chunk>
		<chunk number = "2" size = "10">fefe</chunk>
		<chunk number = "3" size = "8">fefef</chunk>		
	</file>
</files>
